<div class="field {{hide}}" style="{{style}}">
	<div class="row bottom">

		<form method="post" action="{{bloginfo('home')}}/field/add" data-abide>

			<input type="hidden" name="bd_id" value="{{bdid}}">
			<input type="hidden" name="field_id" value="{{field.ID}}">

			<div class="columns small-12">

				<dl class="accordion" data-accordion>
					<dd class="{{active}}">
						<a href="#panel{{panel_id}}">
							{% if field %}
								{{field.post_title}}
							{% else %}
								Novo Campo
							{% endif %}
							<em class="unsaved">Este campo ainda não foi salvo</em>
						</a>
						<div id="panel{{panel_id}}" class="content panel_id {{active}}">

							<div class="panel radius">

								<!--div class="row">
									<div class="small-2 columns">
										<label for="right-label" class="right"> Nome do Arquivo* </label>
									</div>
									<div class="small-10 columns">
										<input type="text" name="filename" placeholder="" value="{{field.post_title}}" required>
										<small class="error">Este campo é obrigatório</small>
									</div>
								</div-->
								<div class="row">
									<div class="small-2 columns">
										<label for="right-label" class="right">Nome da variável* </label>
									</div>
									<div class="small-10 columns">
										<input type="text" name="varname" placeholder="" value="{{field.varname}}">
									</div>
								</div>
								<div class="row">
									<div class="small-2 columns">
										<label for="right-label" class="right">Descrição da variável</label>
									</div>
									<div class="small-10 columns">
										<input type="text" name="vardescr" placeholder="" value="{{field.vardescr}}">
									</div>
								</div>
								<div class="row">
									<div class="small-2 columns">
										<label for="right-label" class="right">Fonte</label>
									</div>
									<div class="small-10 columns">
										<input type="text" name="font" placeholder="" value="{{field.font}}">
									</div>
								</div>
								<div class="row type {{field.type}}">
									<div class="small-2 columns">
										<label for="right-label" class="right">Tipo</label>
									</div>
									<div class="small-4 columns">
										<select name="type" value="{{field.type}}">
											<option>Escolher...</option>
											<option value="valor">Valor</option>
											<option value="text">Texto</option>
											<option value="categoria">Categoria</option>
											<option value="outro">Outro</option>
										</select>

									</div>
									<div class="small-2 columns">
										<label for="right-label" class="right">Tamanho</label>
									</div>
									<div class="small-4 columns">
										<input type="text" name="size" placeholder="" value="{{field.size}}">
									</div>

									<div class="categories row">

										<div class="small-2 columns"></div>

										<div class="columns small-10">

											<div class="row">

												<div class="small-12 columns">
													<h2>Categorias</h2>
												</div>
											</div>

											<div class="row">

												<div class="small-12 columns">

													<div class="panel">
														<div class="row">
															<div class="small-12 medium-1 columns">Cód</div>
															<div class="small-12 medium-4 columns">Nome</div>
															<div class="small-12 medium-6 columns">Descrição</div>
															<div class="small-12 medium-1 columns"></div>
														</div>

														<div class="categories-list">

															{% if field.categories|length == 0 %}
																{% include "_field-type-category.php" with { 'index' : 0 } %}
															{% else %}
																{% for category in field.categories %}
																	{% include "_field-type-category.php" with { 'index' : loop.index } %}
																{% endfor %}
															{% endif %}

														</div>

														<div class="row">
															<div class="small-12 text-right columns">
																<button class="tiny add">+</button>
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>

									</div>
								</div>

								<div class="secrecy {{field.secret}}">

									<div class="row">
										<div class="small-2 columns">
											<label for="right-label" class="right">Sigilo</label>
										</div>
										<div class="small-10 columns">
											<input type="radio" name="secret" value="sim" checked="{{ field.secret == 'sim' }}"><label>Sim</label>
											<input type="radio" name="secret" value="nao" checked="{{ field.secret == 'nao' or (field.secret is not defined) }}"><label>Não</label>
										</div>

									</div>

									<div class="row incise">
										<div class="small-2 columns">
											<label class="right">Qual inciso?</label>
										</div>
										<div class="small-10 columns">
                                            <select name="inciso">
                                                <optgroup label="Informação pessoal - Art. 4º. III - a proteção da informação sigilosa e da informação pessoal, observada a sua disponibilidade, autenticidade, integridade e eventual restrição de acesso.">
                                                    <option value="art-4" {% if field.inciso == "art-4" %}checked{% endif %}>Informação pessoal: informação relacionada à pessoa natural identificada ou identificável, relativa à intimidade, vida privada, honra e imagem;</option>
                                                </optgroup>
                                                <optgroup label="Informação Classificada - Art. 30. São passíveis de classificação as informações consideradas imprescindíveis à segurança da sociedade ou do Estado, cuja divulgação ou acesso irrestrito possam:">
                                                <option value="art-30-inciso-1" {% if field.inciso == "art-30-inciso-1" %}checked{% endif %}>I - pôr em risco a defesa e a soberania nacionais ou a integridade do território nacional;</option>
                                                <option value="art-30-inciso-2" {% if field.inciso == "art-30-inciso-2" %}checked{% endif %}>II - prejudicar ou pôr em risco a condução de negociações ou as relações internacionais do País;</option>
                                                <option value="art-30-inciso-3" {% if field.inciso == "art-30-inciso-3" %}checked{% endif %}>III - prejudicar ou pôr em risco informações fornecidas em caráter sigiloso por outros Estados e organismos internacionais;</option>
                                                <option value="art-30-inciso-4" {% if field.inciso == "art-30-inciso-4" %}checked{% endif %}>IV - pôr em risco a vida, a segurança ou a saúde da população;</option>
                                                <option value="art-30-inciso-5" {% if field.inciso == "art-30-inciso-5" %}checked{% endif %}>V - oferecer elevado risco à estabilidade financeira, econômica ou monetária do País;</option>
                                                <option value="art-30-inciso-6" {% if field.inciso == "art-30-inciso-6" %}checked{% endif %}>VI - prejudicar ou causar risco a planos ou operações estratégicos das Forças Armadas;</option>
                                                <option value="art-30-inciso-7" {% if field.inciso == "art-30-inciso-7" %}checked{% endif %}>VII - prejudicar ou causar risco a projetos de pesquisa e desenvolvimento científico ou tecnológico, assim como a sistemas, bens, instalações ou áreas de interesse estratégico nacional, observado o disposto no inciso II do "caput" do artigo 9º deste decreto;</option>
                                                <option value="art-30-inciso-8" {% if field.inciso == "art-30-inciso-8" %}checked{% endif %}>VIII - pôr em risco a segurança de instituições ou de altas autoridades nacionais ou estrangeiras e seus familiares; ou</option>
                                                <option value="art-30-inciso-9" {% if field.inciso == "art-30-inciso-9" %}checked{% endif %}>IX - comprometer atividades de inteligência, de investigação ou de fiscalização em andamento, relacionadas com prevenção ou repressão de infrações.</option>
                                                </optgroup>
                                            </select>
										</div>
									</div>

								</div>

								<div class="row"> <br></div>

								<div class="row">
									<div class="small-12 medium-6 columns"><a href="javascript://" class="alert delete-field">Excluir este Campo</a></div>
									<div class="small-12 medium-6 text-right columns"><button class="button primary save-field">Salvar</button></div>
								</div>

							</div>

						</div>
					</dd>

				</dl>

			</div>

		</form>
	</div>
</div>
